@model Blog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">  
        <dt>
            Auther
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Creation Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        if (BlogHelper.VerifyAuther(Model?.User?.Login, User))
        {
            <a asp-action="Edit" asp-controller="Blog" asp-route-id="@Model.Id">Edit</a>
            <a asp-action="Delete" asp-controller="Blog" asp-route-id="@Model.Id">Delete</a>
        }
    }
    <a asp-action="Index" asp-controller="Blog">Back to List</a>
</div>
